# Bank Service
BANK_PORT=3001
BANK_HOST=0.0.0.0
BANK_DB_HOST=bank-db
BANK_DB_PORT=5432
BANK_DB_USER=bank_admin
BANK_DB_PASSWORD=bank_pass_123
BANK_DB_NAME=bank_db
BANK_ADMIN_API_KEY=sk_bank_admin_test_1234567890

# Gateway Service
GATEWAY_PORT=3000
GATEWAY_HOST=0.0.0.0
GATEWAY_DB_HOST=gateway-db
GATEWAY_DB_PORT=5432
GATEWAY_DB_USER=gateway_admin
GATEWAY_DB_PASSWORD=gateway_pass_123
GATEWAY_DB_NAME=gateway_db
GATEWAY_BANK_API_KEY=sk_bank_admin_test_1234567890
GATEWAY_REDIS_URL=redis://redis:6379
JWT_SECRET=dev-jwt-secret-key-change-in-production

# Shop API
SHOP_PORT=4000
SHOP_HOST=0.0.0.0
SHOP_DB_HOST=shop-db
SHOP_DB_PORT=5432
SHOP_DB_USER=shop_admin
SHOP_DB_PASSWORD=shop_pass_123
SHOP_DB_NAME=shop_db
SHOP_GATEWAY_URL=http://gateway:3000
SHOP_GATEWAY_SECRET_KEY=

# Redis
REDIS_URL=redis://redis:6379
